.hero_section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

.nav_section {
  position: absolute;
  top: 50px;
  right: 30px;
  display: flex;
  gap: 60px;
  @media (max-width: 480px) {
    width: 100%;
    right: 0;
    justify-content: center;
  }
  & li {
    position: relative;
    padding: 8px 0px;
    cursor: pointer;
    text-transform: capitalize;
    transition: all 0.3s ease;
    a {
      transform: translate(0px, 0px);
      background-image: -webkit-linear-gradient(top, #111, #0c0c0c);
      background-image: -moz-linear-gradient(top, #111, #0c0c0c);
      background-image: -ms-linear-gradient(top, #111, #0c0c0c);
      background-image: -o-linear-gradient(top, #111, #0c0c0c);
      text-align: center;
      line-height: 1.4em;
      letter-spacing: 0.3em;
      white-space: nowrap;
      font-weight: 800;
    }

    span {
      color: #fdf7e8;
      font-size: 2rem;
      vertical-align: middle;
      letter-spacing: 0.2em;
      transition: all 0.3s ease;
      @media (max-width: 480px) {
        font-size: 1.8rem;
      }
    }

    &:hover {
      span {
        background: -webkit-linear-gradient(#ffc02e, #fdf7e8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &:hover a {
    }
  }
}

.nav_social {
  position: absolute;
  bottom: 30px;
  left: 25px;
  color: #fff2cf;
  width: 24px;
  & li {
    padding: 8px 0;
    transition: all 0.3s ease;
    transform: translate(0px, 0px);
    svg {
      stroke: #fff2cf;
      width: 35px;
      @media (max-width: 480px) {
        width: 25px;
      }
    }
    &:hover {
      svg {
        stroke: #ffc02e;
      }
      transform: translate(0px, -5px);
    }
  }
}
